body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
}

.display-3 {
  font-family: "Birthstone", cursive;
  font-size: 4rem;
}

.jumbotron {
  text-align: center;
  /* background-color: transparent; */
  background-color: #fdc99f;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding-top: 5px;
  margin-bottom: 5px;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 10fr 1fr;
  gap: 5px;
}

textarea {
  background: transparent;
  /* border: none; */
  /* color: #000000; */
  /* border-left: 1px solid black; */
  /* padding: 10px; */
  border-radius: 10px;
}

/* .description {
  #ffffff-space: normal;
} */

/* .time-block {
  display: flex;
  /* flex-direction: row; */
/* text-align: center;
  border-radius: 15px;
} */

/* .row {
  #ffffff-space: pre-wrap;
  height: 80px;
  border-top: 1px solid #ffffff;
} */

.hour {
  font-size: 1.2rem;
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #b8f2e6;
  color: #ffffff;
}

.present {
  background-color: #5accb5;
  color: #ffffff;
}

.future {
  background-color: #23a38a;
  color: #ffffff;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-radius: 5px 25px 15px;
  background-color: #f75555;
  color: #ffffff;
  font-weight: 700;
}

/* .saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
} */
